# Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser
*.userprefs

# Rider / VS Code
.idea/
*.DotSettings.user
.vscode/*

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# Test / coverage
[Tt]est[Rr]esult*/
*.coverage
*.coveragexml

# OS
.DS_Store
Thumbs.db
